@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 122, 122, 122;
  --background-end-rgb: 122, 122, 122;
  --background-color: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#header-bg {
  animation: pulse 3s linear infinite;
}
#header-img{ 
  animation: updown 3s linear infinite;
}


/* Animations */
@keyframes updown {
  0% {
      transform: translateY(-0px);
  }
  50% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(-0px);
  }
}

#skills {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  img{
    width: 100px;
    height: 100px;
  }
}